<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/home.css">
  </head>

  <body>
    <h1>Launch Stack</h1>

    <div class="list-box">
      <div class="large-6 large-centered">
        <ul id="users">
          <% @list.each do |usr| %>
            <li><a href="/launchg/<%= usr.name %>"><%= usr.name %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </body>
</html>
